.App {
  text-align: center;
  display: grid;
  grid-template-columns:100vw;
  grid-template-rows: 10vh 5vh 85vh;

}

.Title {
  background-color: rgb(211, 202, 170);
  height: 10vh;
  line-height: 10vh;
  margin: 0;
  font-family: serif;
}


.Content{
  background-image:url("./what-the-hex.png") ;
  grid-row-start: 3;
  grid-row-end: 4;
  overflow: auto;
}

.Avatar{
  height:30px;
  width: 30px;
  grid-row-start: 1;
  grid-column-start:1
}

.NeedsMargin{
  margin: 10px
}

.Comment{
  display:grid;
  grid-template-columns: 1fr 5fr; 
  grid-template-rows: 4fr 4fr 1fr 1fr;
  align-items: center;

}

.CommentCreator{
  grid-row-start: 1;
  grid-column-start:1;
  margin: 2em;
}

.CommentBody{
  grid-column-start: 1;
  grid-column-end: 3;
 }

 .VotesTally{
   grid-column-start: 1;
   grid-column-end: 3
 }

 .VoteButton{
   grid-column-start:1;
   max-width: 5rem
 }

.Nav{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  
}

.Button{
background-color: rgb(221, 221, 221);
border: .5px solid black;
display: flex;
align-items: center;
justify-content: center;
text-align:center;
-webkit-appearance: button;
text-decoration: none;
color: rgb(0, 0, 0);
font-size: 0.8rem
}


.SearchBar{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 40px 1fr 4.5em; 
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2rem
}
.InputBar{
  grid-row-start: 2;
  grid-column: span 3 
}

.SearchButton{
  grid-row-start:3;
}

.LoginPage{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5rem
}

.Input{
  text-align: center
}



