/* page container */

.App {
  text-align: center;
  display: grid;
  grid-template-columns:100vw;
  grid-template-rows: 10vh 5vh 85vh;

}

.Title {
  background-image: url("./img_files/old_map.png");
  height: 10vh;
  line-height: 10vh;
  margin: 0;
  font-family: serif;
}

.Nav{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  
}

.Content{
  background-image:url("./img_files/congruent_pentagon.png") ;
  grid-row-start: 3;
  grid-row-end: 4;
  overflow: auto;
}

/* user comments */

.CommentContainer{
  display:grid;
  grid-template-columns: 1fr 4fr 1fr; 
  grid-template-rows: 4fr 4fr 1fr 1fr;
  align-items: center;

}

.Avatar{
  height:30px;
  width: 30px;
  grid-row-start: 1;
  grid-column-start:1
}

.CommentBody{
  grid-column-start: 1;
  grid-column-end: 4;
 }

 .Delete{
  grid-column-start: 3;
  grid-column-end: 4
}


.VotesTally{
  grid-column-start: 1;
  grid-column-end: 4
}


.VoteButton{
  grid-column-start:1;
  max-width: 5rem
}


.CommentCreator{
  grid-row-start: 1;
  grid-column-start:1;
  margin: 2em;
}


/* Search Page layout styling */

.SearchBar{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1.5fr 1fr 2fr; 
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2rem
}
.InputBar{
  grid-row-start: 2;
  grid-column: span 3 
}

.SearchButton{
  grid-row-start:3;

}

/* Login Page layout styling */

.LoginPage{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5rem
}

.Input{
  text-align: center
}

.Login{
  margin-left: 20%;
  margin-right: 20%
}

/* reusable CSS */


.Button{
  background-color: #eb4141;
  border: .5px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  -webkit-appearance: button;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  }
  
  
  .AddsMargin{
    margin: 10px
  }